$para: 'Lato', sans-serif;
$grey: #8f9399;

body {
  padding: 0;
  margin: 0;
}

p {
  font-family: $para;
  color: $grey;
}

.navbar {
  img {
    width: 6em;
  }

  button {
    border: none;
  }

  .nav-item {
    font-family: $para;
  }
}

div.col-sm-12.hero {
  padding: 0;
  margin: 0;
}

div.col-sm-12.hero_inner {
  margin: 0;
  padding: 0;
}

div.col-sm-7.name_wrapper {
  margin: 0;
  padding: 0;
}
// --- Modal Style ---

.modal-content {
  display: block;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.modal-header {
  display: block;
  border: none;
}
// --- Modal Style End ---

.hero {
  background-image: url("../images/craig2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;

  .hero_inner {
    display: flex;
    // background-color: yellow;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    // justify-content : center;
    overflow: hidden;
    align-items: center;
    background-color: rgba(134, 139, 143, 0.4);

    .name_wrapper {}

    .logo_wrapper {
      // background-color: salmon;
      .doterra_logo {
        max-width: 8em;
      }

      .diversified_logo {
        max-width: 8em;
        padding-bottom: 5px;
      }
    }

    .logo {
      width: 2%;
    }
  }

  .hero_image {}

  h3 {
    // position        : absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    z-index: 300;
    font-family: $para;
    font-size: 2em;
    // background-color: rgba(134, 139, 143, 0.4);
    width: 100%;
    padding-left: 1em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    margin-bottom: 0;
  }
}

.block_div {
  // display        : flex;
  justify-content: center;
  padding-top: 5em;
  padding-bottom: 2em;

  .blocks {
    margin: 1.3em;

    img {
      border-radius: 50%;
      height: 50%;
    }

    p {
      font-size: 1.2em;
    }
  }
}

.bio {
  padding: 2em;
}

.products {
  .col-md-3 {
    padding: 0.1em;
  }

  img {}

  .row {}
  padding: 1em;
  // background-color: darkblue;
  .product_description {
    // background-color: salmon;
    transition-property: all;
  }

  #pop_up {}
}